body {
  background: linear-gradient(107deg, #CBF3EF 0%, #FAFAE2 49.48%, #FFC3AB 100%);
  margin: 0;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  color: '#2C3437';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
